<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./static/css/bulma.min.css">
    <script defer src="./static/js/fontawesome.js"></script>
</head>
<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <form method="POST" class="box">
                  <h1 class="title is-4" style="color: #363636; text-align: center;">Login</h1>
                  <div class="{% if error_type is defined %}notification is-danger is-light{% endif %}">
                    {% if error_type is defined %}
                      <p>{{ error_msg }}</p>
                    {% endif %}
                  </div>
                  <div class="field">
                    <label for="" class="label">Username</label>
                    <div class="control has-icons-left">
                      <input 
                        type="username" name="username" placeholder="e.g. groupense2021" 
                        class="input {% if error_type is defined %}is-danger{%endif%}"
                        value="{% if username is defined %}{{ username }}{% endif %}"
                        required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="" class="label">Password</label>
                    <div class="control has-icons-left">
                      <input type="password" name="password" placeholder="*******" 
                        class="input {% if error_type is defined %}is-danger{%endif%}"
                        value="{% if password is defined %}{{ password }}{% endif %}"
                        required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="" class="checkbox">
                     <a href="./signup" style="color: #485fc7;cursor: pointer; text-decoration: none;border-bottom: 1px solid #485fc7;">Sign up here</a> if you don't have an account!
                    </label>
                  </div>
                  <div class="field">
                    <button class="button is-success" style="width: 100%;">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>
